* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: beige;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

nav {
    margin-top: 10px;
    /* word-spacing: 20px; */
}

a {
    text-decoration: none;
    color: orange;
    padding: 20px;   
}

a:hover {
    color: aqua;
}

section {
    /* border: solid 1px red; */
    text-align: center;
}

div {
    border: solid 1px black;
    width: 300px;
    height: 360px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin: 30px;
}


img {
    width: 250px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: greenyellow;
}

footer {
    background-color: beige;
    height: 100px;
    text-align: center;
}

p {
    padding-top: 40px;
}